.date {
    font-size: 3rem;
    margin-bottom: 1rem;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.time {
    font-size: 8rem;
    font-weight: bold;
    margin-bottom: 2rem;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
